In [1]:
import os
import sys

path = os.getcwd().replace('\\notebooks', '')
script_path = os.path.join(path, 'utils')

sys.path.append(script_path)

from preprocess import *

In [9]:
train_data = get_data('processed_data', 'processed_train.csv')

games_data = get_data('main_data', 'games.csv')
games_data.head()

,game_id,first,time_control_name,game_end_reason,winner,created_at,lexicon,initial_time_seconds,increment_seconds,rating_mode,max_overtime_minutes,game_duration_seconds
0,1,BetterBot,regular,STANDARD,1,2022-08-26 03:38:49,NWL20,1200,0,CASUAL,1,674.844274
1,2,Super,regular,STANDARD,1,2022-08-10 19:19:59,CSW21,3600,0,RATED,1,364.214418
2,3,BetterBot,regular,STANDARD,1,2022-09-04 08:04:27,CSW21,900,0,RATED,5,492.268262
3,4,BetterBot,regular,RESIGNED,0,2022-09-12 02:36:19,CSW21,3600,0,CASUAL,1,350.861141
4,5,STEEBot,regular,STANDARD,0,2022-09-06 04:31:36,NWL20,1200,0,CASUAL,1,642.688722

In [10]:
train_data.head()

   game_id        nickname  score bot_nickname  bot_score  bot_rating  rating
0        1           stevy    429    BetterBot        335        1637    1500
1        3       davidavid    440    BetterBot        318        2071    1811
2        4  Inandoutworker    119    BetterBot        478        1936    1473
3        5           stevy    325      STEEBot        427        1844    1500
4        6          HivinD    378      STEEBot        427        2143    2029